<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="~{layout}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="../../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}">
<link href="../../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link href="../../static/css/home.css" rel="stylesheet"
	th:href="@{/css/home.css}">
<link href="../../static/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}">

<link th:rel="stylesheet" th:href="@{/css/table.css}" />
<link th:rel="stylesheet" th:href="@{/css/all.css} " />
<link
	href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"
	rel="stylesheet" />
<body>

	<section layout:fragment="content">

		<div class="container">


			<div class="container my-4 mx-auto" id="produtos_wrapper">

				<div class="solicitacoeslist"
					th:if="${#lists.isEmpty(allProdutos)}">
					<p>Nenhum resultado encontrado</p>
				</div>

				<div class="tableFixHead solicitacoeslist"
					th:unless="${#lists.isEmpty(allProdutos)}">

					<h2>Produtos Cadastrados</h2>

					<table class="table table-striped table-bordered"
						style="width: 100%">
						<thead>
							<tr>
								<th scope="col">Codigo</th>
								<th scope="col">Tipo</th>
								<th scope="col">Preço</th>
								<th scope="col">Unidade</th>
								<th scope="col">Prazo de Entrega</th>
								<th scope="col">Descrição</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${allProdutos}">
								<td th:text="${item.codigo}"></td>
								<td th:text="${item.tipo}"></td>
								<td th:text="${item.preco}">0</td>
								<td th:text="${item.unidade.codigo}"></td>
								<td th:text="${item.prazoEntrega}"></td>
								<td th:text="${item.descricao}"></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>


		</div>
	</section>

</body>

<script src="../../static/jquery/jquery.min.js" type="text/javascript"
	th:src="@{/jquery/jquery.min.js}"></script>
<script src="../../static/jquery/jquery.dataTables.min.js"
	type="text/javascript" th:src="@{/jquery/jquery.dataTables.min.js}"></script>
<script src="../../static/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/bootstrap.bundle.min.js"
	th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/js/dataTables.bootstrap4.min.js"
	th:src="@{/js/dataTables.bootstrap4.min.js}"></script>

<script th:src="@{js/popper.min.js}"></script>
<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<script th:src="@{/js/bootstrap-datepicker.js}"></script>

<script>
	// Select all check boxes : Setting the checked property to true in checkAll() function
	// 	function checkAll() {
	// 		var items = document.getElementsByName('enviar');
	// 		for (var i = 0; i < items.length; i++) {
	// 			if (items[i].type == 'checkbox')
	// 				items[i].checked = true;
	// 		}
	// 	}
	// 	// Clear all check boxes : Setting the checked property to false in uncheckAll() function
	// 	function unCheckAll() {
	// 		var items = document.getElementsByName('enviar');
	// 		for (var i = 0; i < items.length; i++) {
	// 			if (items[i].type == 'checkbox')
	// 				items[i].checked = false;
	// 		}
	// 	}

	$(function() {
		$("#calendario").datepicker();
	});

	// 	$(document).ready(function() {
	// 		$('#solicitacoes').DataTable({
	// 			"scrollY" : "200px",
	// 			"scrollCollapse" : true,
	// 			"paging" : false
	// 		});
	// 	});

	// 	$(document).ready(function() {
	// 		$('#solicitacoes').DataTable();
	// 	});

	// 	$(function() {
	// 		$('#datetimepicker2').datetimepicker({
	// 			locale : 'pt-br'
	// 		});
	// 	});
</script>
<!-- <script language="javascript"> -->

<!-- </script> -->

</html>