<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sobre a Empresa</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/images/favicon.ico" th:href="@{~/images/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{~/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{~/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css" th:href="@{~/css/util.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/sobre.css" th:href="@{~/css/sobre.css}">
<!--===============================================================================================-->
</head>

<body>

	<div class="container">

		<section class="container card-custom-main">
	
			<header class="py-3 header" style="height: 120px; width: 100%">
				<div class="container h-75">
					<div class="row h-75 align-items-center">
						<div class="col-lg-12">
							<h6 class="welcome1">
								Conheça a
							</h6>
							<h6 class="welcome2">
								Eletrosom
							</h6>
							<div class="line1"></div>
						</div>
					</div>
				</div>
			</header>
		
			<div class="container my-2">
		
				<div class="row">
					<div class="card my-auto card-custom">
						<div class="card-body">
							<p>
								A história iniciou-se pelo fundador Natal Acir na cidade de
								Monte Carmelo, no interior de Minas Gerais, no ano de 1980. Hoje
								considerada uma das 15 maiores Redes de Varejo do Brasil, oferece
								mais de 4 (quatro) mil produtos para os seus clientes, por meio de
								multicanais como lojas físicas, televendas e e-commerce (site).</p>
							<p>
								Com mais de 35 anos de história, a Eletrosom se destaca com
								uma das marcas mais sólidas e tradicionais do mercado. Presente
								desde os grandes centros comerciais, até as pequenas cidades, a
								Rede conta com mais de 150 lojas distribuídas em 6 (seis) Estados
								brasileiros e no Distrito Federal, nas regiões Sudeste, Nordeste,
								Centro-Oeste e Norte. Oferece um diversificado mix de produtos,
								como: móveis, eletrodomêsticos, celulares, informática e muito
								mais.
							</p>
							<p>
								Além de serviços especiais, garantia estendida, seguros,
								recargas para celulares, cursos online e empréstimos.
							</p>
						</div>
					</div>
				</div>
			
				<div class="row my-3">
					<div class="card my-auto card-custom">
						<img class="img-custom" src="images/1.png" th:src="@{/images/1.png}" />
						<div class="card-body">
							<div class="card-title">
								<h6 class="welcome2" style="font-size: 20px !important; font-family: Poppins-Bold; margin-top: 10px;">
									Missão
								</h6>
								<div class="line1"></div>
							</div>
							<hr>
							<p>
								A Eletrosom tem como missão oferecer produtos e serviços de
								qualidade, realizando os sonhos de seus clientes, gerando lucros e
								responsabilidade social, além de contribuir para o desenvolvimento
								do país.
							</p>
						</div>
					</div>
				</div>
	
				<div class="row my-3">
					<div class="card my-auto card-custom">
						<img class="img-custom" src="images/2.png"  th:src="@{/images/2.png}" />
						<div class="card-body">
							<div class="card-title">
								<h6 class="welcome2" style="font-size: 20px !important; font-family: Poppins-Bold; margin-top: 10px;">
									Visão
								</h6>
								<div class="line1"></div>
							</div>		
							<hr>
							<p>
								A visão da empresa é ser considerada e reconhecida pelos
								brasileiros como a melhor loja de varejo do país. Para isso
								investimos continuamente no atendimento ao cliente no nosso time
								de vendas, em um maior mix de produtos, oferecendo pontos de
								vendas em localizações estratégicas, condições de pagamento e
								preços competitivos.
							</p>
						</div>
					</div>
				</div>
	
				<div class="row my-3">
					<div class="card my-auto card-custom" style="width: 100%">
						<img class="img-custom" src="images/3.png" th:src="@{/images/3.png}" />
						<div class="card-body">
							<div class="card-title">
								<h6 class="welcome2" style="font-size: 20px !important; font-family: Poppins-Bold; margin-top: 10px;">
									Valores
								</h6>
								<div class="line1"></div>
							</div>							
							<hr>
							<p>
								<i class="fa fa-arrow-circle-right"
								   style="font-size: 18px; color: #EBCD01; margin-right: 10px;"></i>
								Cliente, é por você que a gente faz: nós sempre colocamos os
								sonhos dos nossos clientes em primeiro lugar e fazemos o possível
								para realizá-los.
							</p>
							<p>
								<i class="fa fa-arrow-circle-right"
								   style="font-size: 18px; color: #EBCD01; margin-right: 10px;"></i>
								Valorização do Ser Humano: investimentos no crescimento dos nossos
								profissionais.
							</p>
							<p>
								<i class="fa fa-arrow-circle-right"
								   style="font-size: 18px; color: #EBCD01; margin-right: 10px;"></i>
								Respeito aos Investidores: agimos com seriedade e respeito aos
								investidores que acreditam na nossa marca.
							</p>
							<p>
								<i class="fa fa-arrow-circle-right"
								   style="font-size: 18px; color: #EBCD01; margin-right: 10px;"></i>
								Ética: valorizamos a transparência,a honestidade e a dignidade em
								todas as nossas relações com clientes, parceiros e profissionais.
							</p>
							<p>
								<i class="fa fa-arrow-circle-right"
								   style="font-size: 18px; color: #EBCD01; margin-right: 10px;"></i>
								Disciplina, Criatividade, Ousadia e Simplicidade.
							</p>
							<p>
								<i class="fa fa-arrow-circle-right"
								   style="font-size: 18px; color: #EBCD01; margin-right: 10px;"></i>
								Compromisso com o Brasil: nós assumimos o compromisso de respeito
								às leis, visando sempre cooperar pelo bem-estar de toda a
								sociedade.
							</p>
						</div>
					</div>
		
				</div>
				<div class="row my-3">
					<div class="card my-auto card-custom">
						<img class="img-custom" src="images/4.png"  th:src="@{/images/4.png}" />
						<div class="card-body">
							<div class="card-title">
								<h6 class="welcome2" style="font-size: 20px !important; font-family: Poppins-Bold; margin-top: 10px;">
									Um Pouco de História
								</h6>
								<div class="line1"></div>
							</div>							<hr>
							<p>
								A Eletrosom não parou de de inovar, criando em 2010 sua loja
								virtual: a Eletrosom.com.
							</p>
							<p>
								A fundação ocorreu para trazer ainda mais conforto e
								comodidade aos nossos clientes, que podem realizar suas compras em
								qualquer hora e lugar.
							</p>
							<p>
								E continuamos nos inovando para trazer a melhor experiência
								de compra de nossos clientes. Hoje contamos com um mix
								diversificado: móveis, eletrodomésticos, eletrônicos, telefonia,
								relógios, entre outros, além do nosso Marketplace que reúne
								grandes marcas.
							</p>
							<p>
								Estamos também presentes em Redes Sociais, sempre trazendo
								novidade e ofertas, e mantendo uma relação mais próxima com nossos
								clientes.
							</p>
						</div>
					</div>
		
				</div>
		
			</div>
		</section>
			
	</div>
	
	<div class="footer">
		<div class="text-center p-t-8 p-b-8">
			<span class="txt1">
					Copyright ©
			</span>
			<a class="txt2" href="https://www.eletrosom.com" target="_blank">
				ELETROSOM S/A
			</a>
		</div>
	</div>
	
</body>
</html>